[submodule "libs/sdl_gpu"]
    path = libs/sdl_gpu
    url = git@github.com:seanballais/sdl-gpu.git
[submodule "corex/tools/aseprite-export-as-cxssd"]
	path = corex/tools/aseprite-export-as-cxssd
	url = git@github.com:seanballais/aseprite-export-as-cxssd.git
[submodule "libs/implot"]
	path = libs/implot
	url = git@github.com:seanballais/implot.git
[submodule "libs/EAStdC"]
	path = libs/EAStdC
	url = https://github.com/electronicarts/EAStdC.git
[submodule "libs/EAThread"]
	path = libs/EAThread
	url = https://github.com/electronicarts/EAThread.git
[submodule "libs/EAAssert"]
	path = libs/EAAssert
	url = https://github.com/electronicarts/EAAssert.git
[submodule "libs/EABase"]
	path = libs/EABase
	url = https://github.com/electronicarts/EABase.git
[submodule "libs/pcg-cpp"]
	path = libs/pcg-cpp
	url = https://github.com/imneme/pcg-cpp.git
[submodule "libs/iprof"]
	path = libs/iprof
	url = git@github.com:seanballais/iprof.git
